@import "tailwindcss";

:root {
  --background: #EFEFEA;
  --foreground: #1A1A1D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);


  /* My colors */
  --color-accent-500:#FE7743; 
  --color-dark-500:#3C3D37;
  --color-light-500: #EFEFEA;
  --color-ocean-500:#273F4F;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1D;
    --foreground: #EFEFEA;
  }
}
h1{
  font-family: var(--font-poppins);
}

body {
  background: var(--background);
  color: var( --foreground);
  font-family: var(--font-montserrat);

}


